.principal{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input{
    width: 60vw;
    padding: 5px;
    border-radius: 5px;
    border: solid black 1px;
}
textarea{
    width: 60vw;
    padding: 5px;
    border-radius: 5px;
    border: solid black 1px;
}
select{
    width: 60vw;
    padding: 5px;
    border-radius: 5px;
    border: solid black 1px;
}

.salvar {
    background-color: #3641c0;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.salvar:hover{
    background-color: #192394;
}